@import "../../../variables.scss";

#description {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    color: lighten($font-color, 30%);
    
    a {
        color: lighten($font-color, 30%);    
    }
}

#modlitwy {
    gap: 10px;
    display: grid;
    width: 100%;
    margin-bottom: 10px;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1200px) {
    #modlitwy {
        grid-template-columns: 1fr;
    }
}

#loader {
    $loader-size: 100px;
    width: $loader-size;
    height: $loader-size;
    @include flex-center();
    margin: 10px auto;
}
