<app-title [fontSize]=60>Medytacje na pierwsze soboty miesiąca</app-title>
<div id="description">
    Medytacje pochodzą ze strony <a href="http://www.sekretariatfatimski.pl" target="_blank" rel="noopener noreferrer">www.sekretariatfatimski.pl</a>.
</div>
<section id="modlitwy" *ngIf="Modlitwy != undefined; else loading">
    <app-modlitwa *ngFor="let pray of Modlitwy" [pray]="pray"></app-modlitwa>
</section>
<ng-template #loading>
    <div id="loader">
        <app-loading animation="rotate"></app-loading>
    </div>
</ng-template>
