<app-article [title]="'O parafii'">
    <img src="http://www.parafia-podlesie.pl/galerie/136/2012_10_11_10_17_54_podlesie_003.jpg" alt="Zdjęcie kościoła" id="title-photo">
    <!-- <img src="http://fzskatowicepodlesie.pl/parafia/galeria/m/2021/20211010/DJI_0493.JPG" alt="Zdjęcie kościoła" id="title-photo"> -->
    <!-- <div style="width: 800px; height: 400px; border: 2px solid red; margin: 0 auto;"></div> -->
    <p>
        Ut rhoncus lacus sed vestibulum porttitor. Aliquam vitae diam sollicitudin, sagittis mauris vitae, efficitur
        lectus.
        Integer ac tortor vitae ante tincidunt tincidunt non non lacus. Nulla non ligula ut orci dignissim tempus quis
        at
        lorem. Aliquam finibus justo non velit faucibus, ut molestie nunc venenatis. Phasellus sagittis ante interdum,
        rhoncus tellus ut, facilisis tortor. Etiam mattis gravida mi, in convallis nulla iaculis vel. Fusce sit amet
        pretium
        magna. Phasellus commodo elit mi, et sagittis enim ultricies sed. Donec lacinia, mi et rhoncus semper, sem orci
        laoreet mauris, in suscipit sapien eros eget lectus.
    </p>
</app-article>

<app-title>Bardzo ciekawy artykuł</app-title>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in commodo lacus. Nulla facilisi. Aliquam eget
        orci
        mattis, hendrerit sem sed, dignissim nisi. Integer varius auctor gravida. Fusce ac purus ipsum. Aliquam et
        pretium
        risus. Vestibulum id sem eget ligula fringilla tempor. Nam pharetra bibendum erat eget luctus. Cras convallis
        laoreet metus quis aliquam. Praesent faucibus aliquam augue vitae tincidunt. Vivamus in fringilla odio, ut
        efficitur
        sem.
    </p>

    <p>
        Ut rhoncus lacus sed vestibulum porttitor. Aliquam vitae diam sollicitudin, sagittis mauris vitae, efficitur
        lectus.
        Integer ac tortor vitae ante tincidunt tincidunt non non lacus. Nulla non ligula ut orci dignissim tempus quis
        at
        lorem. Aliquam finibus justo non velit faucibus, ut molestie nunc venenatis. Phasellus sagittis ante interdum,
        rhoncus tellus ut, facilisis tortor. Etiam mattis gravida mi, in convallis nulla iaculis vel. Fusce sit amet
        pretium
        magna. Phasellus commodo elit mi, et sagittis enim ultricies sed. Donec lacinia, mi et rhoncus semper, sem orci
        laoreet mauris, in suscipit sapien eros eget lectus.
    </p>

    <p>
        Aliquam vel aliquam metus, vel placerat elit. Phasellus eu tempor elit. Vestibulum pellentesque, sapien auctor
        scelerisque pellentesque, mauris odio tincidunt neque, maximus tempor orci lacus a sapien. Donec non placerat
        nibh,
        euismod vulputate nisi. Sed sapien massa, ultricies feugiat dictum non, sodales sed metus. Donec viverra elit
        elit,
        ac rutrum dui ullamcorper sed. Ut nec nulla nec lectus eleifend feugiat.
    </p>

    <p>
        Nulla facilisi. In vitae dignissim dui. Aliquam a purus sollicitudin, lobortis neque in, hendrerit libero.
        Quisque
        non purus sit amet erat accumsan commodo. Nulla tempor quis metus ut auctor. Aenean id est dictum, congue enim
        nec,
        condimentum nunc. Duis rhoncus eleifend enim, sed elementum augue condimentum eget. Praesent ut augue vel velit
        varius pellentesque ut a leo. Vivamus feugiat eu nisi eget dictum. Suspendisse tempor volutpat ex et commodo. In
        hac
        habitasse platea dictumst. Etiam volutpat, turpis ut rutrum aliquet, eros dolor tempor quam, eu semper sapien
        dui at
        diam.
    </p>

    <p>
        Praesent vel congue massa. Ut felis massa, rhoncus eget arcu non, ultrices dignissim nisl. Sed tellus purus,
        dapibus
        lacinia blandit tempus, iaculis hendrerit purus. Nam neque orci, ultrices sed eleifend non, blandit ut nulla.
        Phasellus lobortis at velit in vulputate. Suspendisse id mi urna. Duis nec fringilla urna. Vestibulum accumsan
        odio
        lacinia, feugiat lacus in, cursus ligula.
    </p>

    <p>
        Praesent fringilla libero vel mauris vulputate, vel tempor augue cursus. In tortor mi, ornare a lectus cursus,
        volutpat tincidunt dolor. Curabitur sed orci pulvinar nisi consequat placerat aliquam sit amet mauris. Nunc
        tellus
        purus, pharetra in scelerisque id, dapibus sit amet urna. Aenean vel porta eros, sollicitudin iaculis justo. Nam
        semper odio est, at varius mi pulvinar sed. Etiam ac sapien eu erat viverra rutrum. Vestibulum convallis felis
        ut
        eleifend euismod. Cras arcu quam, sollicitudin eget condimentum in, commodo vel sem.
    </p>

    <p>
        Donec libero felis, luctus at diam a, mollis cursus libero. Mauris placerat rhoncus purus eget mollis. Mauris
        vel
        convallis neque. Cras pellentesque dolor vel placerat faucibus. Nullam placerat tellus consectetur maximus
        tristique. Donec porttitor, velit ac convallis interdum, augue massa porta eros, et suscipit leo risus nec
        ligula.
        Nunc vel ligula venenatis felis congue fermentum. Phasellus porttitor metus vitae nunc sollicitudin, ut auctor
        arcu
        pulvinar. In ac libero porta orci condimentum efficitur. In viverra enim massa, id placerat odio blandit eget.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in commodo lacus. Nulla facilisi. Aliquam eget
        orci
        mattis, hendrerit sem sed, dignissim nisi. Integer varius auctor gravida. Fusce ac purus ipsum. Aliquam et
        pretium
        risus. Vestibulum id sem eget ligula fringilla tempor. Nam pharetra bibendum erat eget luctus. Cras convallis
        laoreet metus quis aliquam. Praesent faucibus aliquam augue vitae tincidunt. Vivamus in fringilla odio, ut
        efficitur
        sem.
    </p>

    <p>
        Ut rhoncus lacus sed vestibulum porttitor. Aliquam vitae diam sollicitudin, sagittis mauris vitae, efficitur
        lectus.
        Integer ac tortor vitae ante tincidunt tincidunt non non lacus. Nulla non ligula ut orci dignissim tempus quis
        at
        lorem. Aliquam finibus justo non velit faucibus, ut molestie nunc venenatis. Phasellus sagittis ante interdum,
        rhoncus tellus ut, facilisis tortor. Etiam mattis gravida mi, in convallis nulla iaculis vel. Fusce sit amet
        pretium
        magna. Phasellus commodo elit mi, et sagittis enim ultricies sed. Donec lacinia, mi et rhoncus semper, sem orci
        laoreet mauris, in suscipit sapien eros eget lectus.
    </p>

    <p>
        Aliquam vel aliquam metus, vel placerat elit. Phasellus eu tempor elit. Vestibulum pellentesque, sapien auctor
        scelerisque pellentesque, mauris odio tincidunt neque, maximus tempor orci lacus a sapien. Donec non placerat
        nibh,
        euismod vulputate nisi. Sed sapien massa, ultricies feugiat dictum non, sodales sed metus. Donec viverra elit
        elit,
        ac rutrum dui ullamcorper sed. Ut nec nulla nec lectus eleifend feugiat.
    </p>

    <p>
        Nulla facilisi. In vitae dignissim dui. Aliquam a purus sollicitudin, lobortis neque in, hendrerit libero.
        Quisque
        non purus sit amet erat accumsan commodo. Nulla tempor quis metus ut auctor. Aenean id est dictum, congue enim
        nec,
        condimentum nunc. Duis rhoncus eleifend enim, sed elementum augue condimentum eget. Praesent ut augue vel velit
        varius pellentesque ut a leo. Vivamus feugiat eu nisi eget dictum. Suspendisse tempor volutpat ex et commodo. In
        hac
        habitasse platea dictumst. Etiam volutpat, turpis ut rutrum aliquet, eros dolor tempor quam, eu semper sapien
        dui at
        diam.
    </p>

    <p>
        Praesent vel congue massa. Ut felis massa, rhoncus eget arcu non, ultrices dignissim nisl. Sed tellus purus,
        dapibus
        lacinia blandit tempus, iaculis hendrerit purus. Nam neque orci, ultrices sed eleifend non, blandit ut nulla.
        Phasellus lobortis at velit in vulputate. Suspendisse id mi urna. Duis nec fringilla urna. Vestibulum accumsan
        odio
        lacinia, feugiat lacus in, cursus ligula.
    </p>

    <p>
        Praesent fringilla libero vel mauris vulputate, vel tempor augue cursus. In tortor mi, ornare a lectus cursus,
        volutpat tincidunt dolor. Curabitur sed orci pulvinar nisi consequat placerat aliquam sit amet mauris. Nunc
        tellus
        purus, pharetra in scelerisque id, dapibus sit amet urna. Aenean vel porta eros, sollicitudin iaculis justo. Nam
        semper odio est, at varius mi pulvinar sed. Etiam ac sapien eu erat viverra rutrum. Vestibulum convallis felis
        ut
        eleifend euismod. Cras arcu quam, sollicitudin eget condimentum in, commodo vel sem.
    </p>

    <p>
        Donec libero felis, luctus at diam a, mollis cursus libero. Mauris placerat rhoncus purus eget mollis. Mauris
        vel
        convallis neque. Cras pellentesque dolor vel placerat faucibus. Nullam placerat tellus consectetur maximus
        tristique. Donec porttitor, velit ac convallis interdum, augue massa porta eros, et suscipit leo risus nec
        ligula.
        Nunc vel ligula venenatis felis congue fermentum. Phasellus porttitor metus vitae nunc sollicitudin, ut auctor
        arcu
        pulvinar. In ac libero porta orci condimentum efficitur. In viverra enim massa, id placerat odio blandit eget.
    </p>
</div>