<div id="history-container">
    <div id="card">
        <div id="card-content">
            <div id="card-front">
                <img src="http://www.parafia-podlesie.pl/galerie/136/2012_10_11_10_17_54_podlesie_003.jpg" alt="Zdjęcie kościoła" id="title-photo">
                <h3 id="card-title">Historia strony</h3>
                <!-- <img src="http://fzskatowicepodlesie.pl/parafia/galeria/m/2021/20211010/DJI_0493.JPG" alt="Zdjęcie kościoła" id="title-photo"> -->
                <!-- <div style="width: 800px; height: 400px; border: 2px solid red; margin: 0 auto;"></div> -->
            </div>
            <div id="card-back">
                <p>
                    Od 2005 roku prowadzę amatorsko Kronikę Parafii Matki Boskiej Częstochowskiej w Katowicach Podlesiu.  
                    Inicjatorem był <b>śp.Ks.Proboszcz Benedykt Hałota (1993-2012)</b>.
                    W 2016 roku powstała nowa  <a href="http://www.parafia-podlesie.pl/ " target="_blank" rel="noopener noreferrer">strona parafialna</a> 
                    utworzona przez Ks.Proboszcza dr Jacka Plecha. 
                    Na mojej stronie równolegle kontynułuje galerie zdjęć z <a href="http://fzskatowicepodlesie.pl/parafia/" target="_blank" rel="noopener noreferrer">mojej parafii</a>. <br/>
                    Prowadzę <a href="http://fzskatowicepodlesie.pl/fzs/" target="_blank" rel="noopener noreferrer">stronę Franciszkańskiego Zakonu Świeckich</a>, 
                    <a href="http://fzskatowicepodlesie.pl/rf/" target="_blank" rel="noopener noreferrer">Rycerzy Świętego Franciszka</a>.
                    oraz <a href="http://www.fzskatowice.pl/" target="_blank" rel="noopener noreferrer">FZŚ Region Katowice</a>.
                    W 2022 roku nową wersję strony zaproponował Adam. <br><br>
                    <b>Agnieszka</b>        
                </p>
            </div>
        </div>
    </div>
</div>

<app-article title="Najnowsze wydarzenia">
    <ng-container *ngIf="newestEntries.length != 0; else loader">
        <div *ngFor="let entry of newestEntries;" class="entry"> <!--* Pojedyńczy wpis do kroniki -->
            <div class="entry-photo">
                <img [src]="entry.TitlePhoto" [alt]="entry.Title">
            </div>
            <div class="entry-description">
                <b>{{entry.Title}}</b> <br>
                <span>{{entry.getStringDate()}}</span> <br>
                <a [routerLink]="'/kronika/' + entry.id" >więcej...</a>
            </div>
        </div>
        <div class="link-container">
            <a routerLink="/kronika" class="kronika-link">
                <span>Wszystkie wydarzenia</span>  
                <div class="link-arrow">--></div>
            </a>            
        </div>
    </ng-container>
    <ng-template #loader>
        <div class="loading-wrapper">
            <app-loading animation="rotate"></app-loading>
        </div>
    </ng-template>
</app-article>