@import "../../../variables.scss";
@import "../moderator.variables.scss";

h1 {
    margin: 0;
}

#prays-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;

    .pray {
        padding: 7px 15px;
        border: 2px solid $font-color;

        .content {
            display: flex;
            justify-content: space-between;

            .pray-buttons {
                display: flex;
                gap: 5px;

                .btn-green {
                    @include button($btn-green);
                }
        
                .btn-red {
                    @include button($btn-red);
                }
            }            
        }        
    }    
}

#button-aligner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 10px;
    
    #add-pray { //Button
        @include button($btn-green);
        font-size: 25px;
    
        align-self: flex-end;    
    }
}


#loader {
    width: 120px;
    margin: 0 auto;
}
