<h1>Medytacje</h1>
<section id="prays-list" fillHeight>
    <ng-container *ngIf="prays !== null; else loading">
        <ng-container *ngIf="prays.length != 0; else noPrays">
            <div class="pray" *ngFor="let pray of prays; let i = index" >
                {{numberToMonth(pray.month) + " " + pray.year}} - {{pray.description}}
                <div class="pray-buttons">
                    <button class="btn-edit" (click)="edit(i)">Edytuj</button>
                    <button class="btn-delete">Usuń</button>
                </div>
            </div>
        </ng-container>
        <ng-template #noPrays>
            Nie znaleziono żadnych zapisanych medytacji...
        </ng-template>
    </ng-container>
    <ng-template #loading>
        <div id="loader">
            <app-loading></app-loading>
        </div>
    </ng-template>
</section>
