@import "../../../variables.scss";
@import "../moderator.variables.scss";

h1 {
    margin: 0;
}

#prays-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .pray {
        padding: 7px 15px;
        border: 2px solid $font-color;

        .content {
            display: flex;
            justify-content: space-between;

            .pray-buttons {
                display: flex;
                gap: 5px;

                .btn-green {
                    @include button($btn-green);
                }
        
                .btn-red {
                    @include button($btn-red);
                }
            }            
        }        
    }
}

#loader {
    width: 120px;
    margin: 0 auto;
}
