<div id="container" class="container-xl">
    <ng-container *ngIf="entry != undefined; else failedEntry">
        <div id="nav">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/120px-Back_Arrow.svg.png" (click)="exitDialog = true">
            <div id="title">Edycja wydarzenia:</div>
        </div>
        <div id="title-section">
            <textarea type="text" [(ngModel)]="entry.Title"></textarea>
            <input type="date" [value]="entry.Date | date: 'yyyy-MM-dd'">
        </div>
        <div class="element" *ngFor="let element of entry.Elements" [ngClass]="element.type">
            <ng-template [ngIf]="element.type === 'Paragraph'">
                <textarea type="text" [ngModel]="element.getAttr()" (ngModelChange)="element.setAttr($event)" appTextareaFitContent></textarea>
            </ng-template>
            <ng-template [ngIf]="element.type === 'Image'">
                Url: <input [ngModel]="element.getAttr()" (ngModelChange)="element.setAttr($event)">
                <button>Prześlij</button>
            </ng-template>
        </div>
        
    </ng-container>

    <ng-template #failedEntry>
        Failed
    </ng-template>

    <app-dialog [isVisible]="exitDialog" (stay)="exitDialog = false" (exit)="exitClicked()"
            [content]="'Jeżeli wyjdziesz w tym momencie niezapisane zmiany zostaną utracone!'"></app-dialog>
</div>