@import "../../../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,400;1,700&display=swap');
@import "../moderator.variables.scss";

//* Palette: https://coolors.co/eee3ab-437c90-7fc998-ff6b6c

@mixin button($color: $btn-blue) {
    all: unset;
    @include cantSelect();
    border: 1px solid $font-color;
    padding: 2px 10px;
    font-weight: bold;
    transition: color 0.2s, border-color 0.2s;
    cursor: pointer;    

    &:hover {
        color: $color;
        border-color: $color;
    }
}

div {
    font-family: 'Roboto Mono', sans-serif;
}

#left-container {
    padding: 10px;
    @include cantSelect();
}

#right-container {
    padding: 10px;
}

.tile {
    border: 3px solid $font-color;
    padding: 10px;
    margin-bottom: 10px;
}

#title-section {
    span {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: underline 2px;
    }

    button {
        margin-right: 5px;
    }
}

button {
    @include button();
}

.btn-red {
    @include button($btn-red);
}

.btn-green:hover {
    @include button($btn-green);
}

#search {
    display: flex;
    font-size: 20px;

    button {
        margin-left: 10px;
    }

    input {
        width: 100%;
        padding: 5px 10px;
    }
}

#menu {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid $font-color;
    @include cantSelect();

    button {        
        all: unset;
        padding: 5px 15px;
        cursor: pointer;
        border-bottom: 1px solid $font-color;   
        
        &:hover {
            background-color: $alternative-font-color;            
        }

        &:last-child {
            border: none;
        }
    }    

    .active {
        background-color: $grey-accent;
    }
}