<div id="grand-container">
    <div id="left-container">
        <div id="title-section" class="tile">
            <span>Panel Moderatora</span> <br />
            <button class="btn-red" (click)="logout()">Wyloguj</button>
            <button (click)="returnToMain()">Powrót</button>
        </div>
        <div class="tile">
            <div id="search">
                <input [(ngModel)]="search" (click)="search = ''">
                <button>Szukaj</button>
            </div>
            <div id="menu">
                <button *ngFor="let option of menuOptions" (click)="changeDisplayedOption(option)">{{option.name}}</button>             
            </div>
        </div>
    </div>
    <div id="right-container">
        <router-outlet></router-outlet>
    </div>
</div>