<ng-container *ngIf="failedEntries.length != 0; else loading">
    <div id="failed-entries-left">
        Do naprawienia pozostało <b>{{failedEntries.length}}</b> wpisów.
    </div>
    <div id="failed-entries-list-container">
        <div *ngFor="let failedEntry of failedEntries" class="failed-entry">
            <div class="failed-entry-title">
                <b>Id:</b> {{failedEntry.id}} <b>Url:</b> {{failedEntry.url}}
            </div>
            <div class="failed-entry-controls">
                <button (click)="fixEntry(failedEntry.id)">Napraw</button>
                <button>Usuń</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="loading-container">
        <app-loading [animation]="'rotate'"></app-loading>
    </div>
</ng-template>