<div id="failed-entries-list-container">
    <ng-container *ngIf="failedEntries.length != 0; else loading">
        <div *ngFor="let failedEntry of failedEntries" class="failed-entry">
            <div class="failed-entry-title">
                <b>Id:</b> {{failedEntry.id}} <b>Url:</b> {{failedEntry.url}}
            </div>
            <div class="failed-entry-controls">
                <button>Napraw</button>
                <button>Usuń</button>
            </div>
        </div>
    </ng-container>
    <ng-template #loading>
        <div class="loading-container">
            <app-loading [animation]="'rotate'"></app-loading>
        </div>
    </ng-template>
</div>