<div id="title-section">
    <div id="title">Wpisy z roku: </div>
    <select class="form-select" id="year" (change)="selectedYearChanged($event)">
        <ng-container *ngIf="years.length != 0; else yearsLoading">
            <option *ngFor="let year of years" [value]="year"> {{year}} </option>
        </ng-container>
        <ng-template #yearsLoading>
            <option>Ładowanie...</option>
        </ng-template>
    </select>
</div>
<div id="entries-list">
    <ng-container *ngIf="entries.length != 0; else entriesLoading">
        <div class="entry" *ngFor="let entry of entries; let i = index">
            <div class="entry-title">
                <div class="title">{{entry.Title}}</div>
                <div class="date"> {{entry.getStringDate()}} </div>                                
            </div>
            <div class="entry-controls">
                <button class="btn-edit" (click)="edit(entry)">Edytuj</button>
                <button class="btn-delete" (click)="openDeleteDialog(i)">Usuń</button>
            </div>
        </div>
    </ng-container>
    <ng-template #entriesLoading>
        <div id="loading-container">
            <app-loading [animation]="'rotate'"></app-loading>
        </div>
    </ng-template>
</div>

<app-dialog [visible]="deleteDialog" [Title]="deleteLoading ? 'Usuwanie...' : 'Uwaga!'" (noClicked)="deleteDialog = false" (yesClicked)="deleteEntry()">
    <ng-container *ngIf="deleteLoading == false; else delLoading">
        Czy na pewno chcesz usunąć ten wpis?
    </ng-container>
    <ng-template #delLoading>
        <div id="del-loading">
            <app-loading animation="rotate"></app-loading>
        </div>
    </ng-template>
</app-dialog>

<!--todo: Dodać dodawanie nowych wpisów -->
