@import "../moderator.variables.scss";
@import "../../../variables.scss";

#title-section {
    display: flex;
    @include cantSelect();
    margin-bottom: 10px;

    #title {
        font-size: 25px;
        width: fit-content;
        margin-right: 10px;
        flex: 1;
    }

    #year {
        width: 100%;
        flex: 4;
    }
}

#loading-container {
    padding: 20px;
    width: 120px;
    margin: 0 auto;
}

.entry {
    border: 2px solid $font-color;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .entry-title {
        display: flex;
        flex-wrap: wrap;

        .title {
            margin-right: 10px;
        }

        .date {
            color: $grey-accent;
        }
    }

    .entry-controls {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        .btn-edit {
            @include button($btn-green);
        }

        .btn-delete {
            @include button($btn-red);
        }
    }
}

#entries-list {
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#del-loading {
    @include flex-center();
    height: 100%;

    &>* {
        width: 80px;
        height: 80px;
    }
}
