@import "../../../variables.scss";
@import "../../moderator/moderator.variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,400;1,700&display=swap');

#dialog-container {
    font-family: 'Roboto Mono', sans-serif;

    @include absolute-center();
    height: 300px;
    width: 500px;

    border: 2px solid $font-color;
    background-color: $second-accent;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    #dialog-title {
        @include flex-center;
        font-size: 30px;
        grid-column: 1;
        grid-row: 1;
    }

    #dialog-content {
        grid-row: 2;
        grid-column: 1;
        padding: 10px;
    }

    #dialog-controls {
        grid-row: 3;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        padding: 10px;

        button:nth-of-type(1) {
            all: unset;
            @include button($btn-red);
            order: 2;
        }

        button:nth-of-type(2) {
            all: unset;
            order: 1;
            @include button($btn-green);
        }
    }
}

#zaslona-nocy {
    background-color: #00000088;  
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}