<div id="zaslona-nocy" [ngStyle]="{ 'display': _visibility }">
    <div id="dialog-container">
        <div id="dialog-title">
            <div>{{Title}}</div>
        </div>
        <div id="dialog-content">
            <ng-content></ng-content>
        </div>
        <div id="dialog-controls">
            <button (click)="noClicked.emit()" [ngStyle]="{ 'order': btn1 }"> {{noBtnText}} </button>
            <button (click)="yesClicked.emit()" [ngStyle]="{ 'order': btn2 }"> {{yesBtnText}} </button>
        </div>
    </div>    
</div>