@use "sass:math";
@import "../variables";

$font-size: 20px;
$navbar-height: 70px;
$main-width: 1300px;

@mixin link {
    all: unset;
    display: flex;
    border-right: 1px solid $font-color;
    text-align: center;
    width: 180px;
    height:  $navbar-height;  
    font-size: 1.15em;  
    cursor: pointer;
    @include flex-center;
}

#nav-bar {
    background-color: $main-accent;    
    width: 100%;
    z-index: 420;
    font-size: $font-size;
    height: $navbar-height;    

    a {
        @include link;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: darken($main-accent, 30%);
            color: lighten($font-color, 70%);            

            .inne-a {
                color: $font-color;
            }
        }
    }    

    .last-link {
        border-right: none;
    }

    #navbar-container {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        flex-direction: row;  
        flex-wrap: nowrap;
    }

    .inne-a {
        background-color: $main-accent;
        border: none;
        border-bottom: 1px solid $font-color;
        border-left: 1px solid $font-color;

        &:hover {
            color: lighten($font-color, 70%) !important;
        }
    }
}

#title-image {
    margin: 0 auto;
    color: $font-color;
    text-align: center;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
    @include flex-center;
    gap: 10px;

    img {
        display: inline-block;
        height: 100px;
    }   
}

footer {
    background-color: $font-color;
    color: lighten($font-color, 80%);
    text-align: center;
    padding: 1em 0;
    font-size: 20px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-absolute {
    position: absolute;
}

#inne-link {
    display: flex;  

    &:hover {
        #inne-expand-container {
            display: flex !important;
        }        
    }
}

#inne-link:hover ~ #inne-expand-container, #inne-expand-container:hover {
    display: flex !important;
}

#inne-expand-container {
    position: absolute;
    display: none;
    flex-direction: column;

    .inne-a:nth-of-type(1) {
        border-top: 1px solid $font-color;
    }
}

main {
    position: relative;
}

#main-container {
    padding-top: $navbar-height;
    width: $main-width;
    margin-left: auto;
    margin-right: auto;    
}

@media screen and (max-width: $main-width) {
    #main-container {
        width: 98%;
    }
}

#collapsed {
    all: unset;  
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    img {
        height: 70%;
        margin-left: 10px;
    }
}

#moderator-container {
    width: 100%;
    height: 100%;
}
