<ng-template [ngIf]="entry != null">    
    <div id="title-section">
        <img src="../../../assets/Back_Arrow.png" id="back-arrow" (click)="return()">
        <div>
            {{entry.Title}} <br/>
            <b>{{entry.getStringDate()}}</b>
        </div>
        <div></div>
    </div>
    <div id="elements-section" *ngIf="entry.Elements != null">
        <ng-container *ngFor="let element of entry.Elements; let i = index">
            <ng-template [ngIf]="element.type == 'Paragraph'"> 
                <div class="paragraph-el" [innerHtml]="paragraphToHtml(element.getAttr())">
                </div>
            </ng-template>
            <ng-template [ngIf]="element.type == 'Image'">
                <div class="image-el" (click)="photoSelected(i)">
                    <img [src]="element.getAttr()" loading="lazy">
                </div>
            </ng-template>
            <ng-template [ngIf]="element.type == 'Video'">
                <div class="video-el">
                    <youtube-player [videoId]="getVideoId(element.getAttr())" [width]="widthOfVideos" [height]="heightOfVideos"></youtube-player>   
                </div>
            </ng-template>            
        </ng-container>
    </div>
</ng-template>

<ng-template [ngIf]="failedEntry != null">
    <div id="failed-entry">
        <app-title>Uszkodzony wpis</app-title>
        <p>
            Pobranie wpisu o id {{id}} ze starej strony <b>nie powiodło się</b>. <br/>
            Link do starego wpisu: 
            <a [href]="failedEntry.url" target="_blank">{{failedEntry.url}}</a>
        </p>
    </div>
</ng-template>

<ng-template [ngIf]="failedEntry == null && entry == null">
    <div id="loader">
        <app-loading [animation]="'rotate'"></app-loading>
    </div>
</ng-template>

<!-- Element wyświetlający samo przybliżenie zdjęć -->
<app-photo-carousel [hidden]="photoCarouselHidden" [photos]="photos" [selectedIndex]="selectedPhoto" (closeClicked)="photoCarouselHidden = true"></app-photo-carousel>
