@import "../../../variables";

#login-container {
    @include flex-center;
    margin: 20px 0;
    font-size: 30px;
    gap: 10px;
    
    #password {
        flex: 3;
        font-size: 30px;
        padding: 5px 10px;
    }

    #btn-login {
        all: unset;
        flex: 1;
        cursor: pointer;
        border: 2px solid black;
        background-color: $main-accent;
        padding: 5px 15px;
        text-align: center;
        $transition-time: 0.2s;
        transition: border-radius $transition-time, border $transition-time, background-color $transition-time, color $transition-time;

        &:hover {
            border-radius: 3px;
            color: $alternative-font-color;
            border-color: $alternative-font-color;
            background-color: $font-color;
        }
    }
}



#wait-container {
    padding: 20px;
    width: 100px;
    margin: 0 auto;    
}