<ng-container *ngIf="!isWaiting; else waitingTemplate">
    <div id="login-container">
            <label for="password">Hasło:</label>
            <input [(ngModel)]="password" type="password" id="password" (keydown.enter)="logIn()">
            <button id="btn-login" (click)="logIn()">Zaloguj</button>
    </div>
    <div *ngIf="isGoodPassword == false" class="alert alert-danger">
        Złe hasło!
    </div>
</ng-container>

<ng-template #waitingTemplate>
    <div id="wait-container">
        <app-loading [animation]="'rotate'"></app-loading>
    </div>
</ng-template>