@import "../../../variables.scss";

#no-entries {
    margin: 20px 0;
    font-size: 20px;
}

#select-year {
    text-align: center;
    padding: 20px 10px;

    label {
        margin-right: 30px;
        font-size: 25px;
        padding-top: 0.375rem;
    }

    #year-selector {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $main-accent;
        background-color: $second-accent;
        border-radius: 3px;
        cursor: pointer;    
        border: 2px solid $font-color;     
        width: 150px;           
    }    
}

.entry-container {
    padding: 10px;
    box-shadow: 0px 0px 10px darken($second-accent, 50%);
    height: 300px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0px 0px 20px darken($second-accent, 50%);

        img {
            transform: scale(1.1, 1.1);
        }
    }
    
    .img-container {
        flex: 3;
        width: 100%;
        text-align: center;
        overflow: hidden;

        img {
            width: 100%;  
            transition: transform 0.2s;
            transition-timing-function: ease-out;  
        }            
    }

    div {
        flex: 2;
        font-weight: bold;
        font-size: 1.2em;
        height: 100%;
        @include flex-center;
        text-align: center;
    }
}

#loading-container {
    padding: 20px;
    width: 100px;
    margin: 0 auto;
}

.entry-container {
    cursor: pointer;    
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    margin-bottom: 20px;
    gap: 10px;
}

//On phone
@media screen and (max-width: $phone-width) {
    #grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

//On tablet
@media screen and (min-width: ($phone-width+1)) and (max-width: $tablet-width) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

//On tablet and phone
@media screen and (max-width: $tablet-width) {
    #grid-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}