/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "variables";

body {
    font-family: 'Lato', sans-serif;
    color: $font-color;
    background-color: $second-accent;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;    
    overflow-x: hidden;
}

@media screen and (max-width: $phone-width) {
    .desktop-tablet-only {
        display: none;
    }
}
