$main-accent: #5B8C5A;
$second-accent: #EEE3AB;
$font-color: #2C302E;
$alternative-font-color: #87BCDE;
$error-color: #EE6352;

//* https://coolors.co/5b8c5a-eee3ab-87bcde-141514

// With error color
// https://coolors.co/5b8c5a-eee3ab-ee6352-87bcde-141514